<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Recipes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #e3f2fd;" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/recipe/">MyRecipes</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/recipe">Home</a></li>
            <li><a href="/category">Categories</a></li>
            <li><a href="/recipe/">My Recipes</a></li>
            <li><a href="/type/"> Recipe Types </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/add"><span class="glyphicon glyphicon-user"></span> Register to Become a Member</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-login"></span> Login</a></li>
            <li><a href="/user/logout"><span class="glyphicon glyphicon-logout"></span> Logout</a></li>
        </ul>
    </div>
</nav>

</body>
</html>

